.posts_grid section{
	max-width: 100%;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
}
.overlay_text section .column{
	align-items: center;
	justify-content: center;
}
.posts_grid section .column {
	margin: 10px;
	padding: 10px 0;
	min-width: 200px;
	flex: 1;
}

.posts_grid .featured_image_container{
	display: block;
	min-height: 200px;
}

.posts_grid .posts_grid_featured .featured_image_container{
	display: block;
	min-height: 400px;
}




@media (max-width: 480px) { /*breakpoint*/
    .posts_grid {

    }
    
}